  <div class="list-group mb-4">
    <div class="list-group-item">
       <h3><%= comment.user.username%></h3>
      <% if current_user?(comment.user) %>
        <p><small> <%= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'} %></small> </p>
      <%end%>
      <p class="text-muted border p-3"><%= comment.body %></p>
    </div>
  </div>